/* src/components/desktop/HomeDesktop.module.css */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.5rem;
}

.left {
  padding-left: 4rem;
}

.welcome {
  color: white;
  font-family: custom;
  border: 1px solid;
  width: fit-content;
  padding: 0.5rem;
  background-color: #6b21a8; /* Tailwind class bg-purple-900 */
  margin-bottom: 1rem;
}

.typing {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.description {
  width: fit-content;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  color: white;
}

.connect {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.image {
  margin-left: 4rem;
  width: 24rem;
}
